@{
    ViewData["Title"] = "Marcas";
}

@model PE.TabelaFipe.MVC.ViewModel.FipeDTO


<form asp-action="Index" method="post">
    <div class="form-group">
        <label class="control-label">Selecione uma marca</label>
        <select asp-for="Marca" class="form-control">
            <option>Carro</option>
            <option>Moto</option>
            <option>Caminhao</option>
        </select>
    </div>

    @if (Model.Marcas.Count > 0)
    {
        <div class="form-group">
            <label class="control-label">Selecione uma marca</label>
            <select asp-for="CodigoMarca" class="form-control" asp-items=@(new SelectList(Model.Marcas, "Codigo", "Nome"))>
                <option></option>                
            </select>
        </div>        
    }
    @if (Model.Modelos.Count > 0)
    {
        <div class="form-group">
            <label class="control-label">Selecione uma marca</label>
            <select asp-for="CodigoModelo" class="form-control" asp-items="@(new SelectList(Model.Modelos, "Codigo","Nome"))">
                <option></option>
            </select>
        </div>        
    }
    @if (Model.ModelosPorAno.Count > 0)
    {
        <div class="form-group">
            <label class="control-label">Selecione uma marca</label>
            <select asp-for="CodigoAno" class="form-control" asp-items="@(new SelectList(Model.ModelosPorAno, "Codigo","Nome"))">
                <option></option>
            </select>
        </div>
    }
    <div class="form-group">
        <input type="submit" value="Pesquisar" class="btn btn-primary" />
    </div>
</form>

@if(Model.Fipe != null)
{
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th hidden>
                    @Html.DisplayNameFor(model => model.Fipe.CodigoFipe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fipe.Valor)
                </th>
            </tr>
        </thead>
        <tbody>          
            <tr>
                <td hidden>
                    @Html.DisplayFor(model => model.Fipe.CodigoFipe)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Fipe.Valor)
                </td>
            </tr>          
        </tbody>
    </table>
}
